@font-face {
  font-family: Nevis;
  src: url('/static/fonts/nevis.woff');
}

.title-fixed, .navlink {
  font-family: Nevis, Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.info {
  text-align: center;
}

.link {
  text-decoration: none;
}

#description, #creator, #opensource {
  font-size: medium;
}

#description {
  font-family: Nevis, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

#disclaimer {
  font-size: x-small;
}

.ui-listview>.ui-li-static {
  overflow-wrap: break-word;
  white-space: normal !important;
  word-wrap:break-word;
}
