<div data-role="page" id="About">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<h1 class="title title-fixed">About</h1>
	</div><!-- header -->
	<div data-role="content">
		<h2 class="info creator">Created by <a href="http://alykhan.com" target="_blank" class="link">Alykhan Kanji</a>.</h2>
		<h2 class="info github">This is an open source application available on GitHub <a href="https://github.com/alykhank/FoodMenu" target="_blank" class="link">here</a>.</h2>
		<h2 class="info disclaimer">Contains information provided by the University of Waterloo under license on an 'as is' basis.</h2>
		<a data-role="button" href="mailto:uwmenu@alykhan.com" data-icon="star" data-iconpos="right" data-iconshadow="false" class="ui-icon-alt ui-icon-nodisc">Contact Me</a>
	</div><!-- content -->
	{% include 'footer.html' %}
</div><!-- page -->
