<div data-theme="a" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
	<div data-role="navbar">
		<ul>
			<li>
				<a href="#Menu" data-transition="fade" class="navlink" onclick="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">Menu</a>
			</li>
			<li>
				<a href="#Locations" data-transition="fade" class="navlink" onclick="mixpanel.track('Page View', {'Page Name': 'Locations', 'URL': window.location.href})">Locations</a>
			</li>
			<li>
				<a href="#About" data-transition="fade" class="navlink" onclick="mixpanel.track('Page View', {'Page Name': 'About', 'URL': window.location.href})">About</a>
			</li>
		</ul>
	</div>
</div><!-- footer -->
