{% extends 'base.html' %}
{% block content %}
	<div data-role="page" id="Menu">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h1 class="title">UW Menu</h1>
		</div><!-- header -->
		<div data-role="content">
			<h4 class="info">Weekly menus for the University of Waterloo's on-campus eateries.</h4>
			<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
				<li data-role="list-divider">{{ menu.Start[:-5].replace('-',' ') }} &ndash; {{ menu.End[:-5].replace('-',' ') }}</li>
			{% for restaurant in menu.Restaurants.values() if 'Menu' in restaurant %}
				<li data-iconshadow="false" onclick="mixpanel.track('Restaurant View', {'Restaurant Name': '{{restaurant.Name}}'})"><a href="#{{ restaurant.Name }}" data-transition="slidefade">{{ restaurant.Name }}</a></li>
			{% else %}
				<li>No data has been provided for the current period.</li>
			{% endfor %}
			</ul>
		</div><!-- content -->
		{% include 'footer.html' %}
	</div><!-- page -->
	<div data-role="page" id="About">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h1 class="title">About</h1>
		</div><!-- header -->
		<div data-role="content">
			<h4 class="info">Created by <a href="http://alykhan.com" class="link">Alykhan Kanji</a>.</h4>
			<h4 class="info">This is an open source application. You should view the code on GitHub <a href="https://github.com/alykhank/FoodMenu" class="link">here</a>.</h4>
			<h5 class="info">Contains information provided by the University of Waterloo under license on an 'as is' basis.</h5>
			<a data-role="button" href="mailto:uwmenu@alykhan.com" data-icon="star" data-iconpos="right" data-iconshadow="false" class="ui-icon-alt ui-icon-nodisc">Contact Me</a>
		</div><!-- content -->
		{% include 'footer.html' %}
	</div><!-- page -->
	{% for restaurant in menu.Restaurants.values() if 'Menu' in restaurant %}
	<div data-role="page" id="{{ restaurant.Name }}">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="notext" data-iconshadow="false" href="#Home" class="ui-btn-left ui-icon-nodisc"></a>
			<h1 class="title">{{ restaurant.Name }}</h1>
		</div><!-- header -->
		<div data-role="content">
			<ul data-role="listview" data-inset="true">
				{% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
				{% for day in days if day in restaurant.Menu %}
				<li data-role="list-divider">{{ day }}</li>
					{% set meals = ['Breakfast', 'Lunch', 'Dinner', 'Special'] %}
					{% for meal in meals if meal in restaurant.Menu[day] %}
						<li data-role="list-divider" data-theme="d">{{ meal }}</li>
						{% if restaurant.Menu[day][meal].Items.result is string %}
						<li>{{ restaurant.Menu[day][meal].Items.result }}</li>
						{% else %}
						{% for item in restaurant.Menu[day][meal].Items.result %}
						<li>{{ item }}</li>
						{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul><!-- listview -->
		</div><!-- content -->
		{% include 'footer.html' %}
	</div><!-- page -->
	{% endfor %}
	<div data-role="page" id="Locations">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h1 class="title">Locations</h1>
		</div><!-- header -->
		<div data-role="content">
			<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
			{% for restaurant in info.result %}
				<li data-iconshadow="false">
					<a href="#loc{{ restaurant.ID }}" data-transition="slidefade">
						<img src="{{ restaurant.Logo }}">
						<h2>{{ restaurant.Name|safe|e }}</h2>
						<p>{{ restaurant.Location }}</p>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div><!-- content -->
		{% include 'footer.html' %}
	</div><!-- page -->
	{% for restaurant in info.result %}
	<div data-role="page" id="loc{{ restaurant.ID }}">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<a data-role="button" data-rel="back" data-icon="arrow-l" data-iconpos="notext" data-iconshadow="false" href="#Home" class="ui-btn-left ui-icon-nodisc"></a>
			<h1 class="title">{{ restaurant.Name|safe|e }}</h1>
		</div><!-- header -->
		<div data-role="content">
			<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
				<li data-role="list-divider">Location</li>
				<li>{{ restaurant.Location }}</li>
				<li data-role="list-divider">Hours</li>
				{% if restaurant.Hours.result is string %}
					{% if 'REOPEN' in restaurant.Hours.result %}
					<li data-theme="e">{{ restaurant.Hours.result.replace('REOPEN','Reopens') }}</li>
					{% elif 'Reopen' in restaurant.Hours.result %}
					<li data-theme="e">{{ restaurant.Hours.result.replace('Reopen','Reopens') }}</li>
					{% elif 'OPEN' in restaurant.Hours.result %}
					<li>{{ restaurant.Hours.result.replace('OPEN','Open') }}</li>
					{% elif 'CLOSED' in restaurant.Hours.result %}
					<li data-theme="a">{{ restaurant.Hours.result.replace('CLOSED','Closed') }}</li>
					{% else %}
					<li>{{ restaurant.Hours.result }}</li>
					{% endif %}
				{% else %}
				{% for item in restaurant.Hours.result %}
					{% if 'REOPEN' in item %}
					<li data-theme="e">{{ item.replace('REOPEN','Reopens') }}</li>
					{% elif 'Reopen' in item %}
					<li data-theme="e">{{ item.replace('Reopen','Reopens') }}</li>
					{% elif 'OPEN' in item %}
					<li>{{ item.replace('OPEN','Open') }}</li>
					{% elif 'CLOSED' in item %}
					<li data-theme="a">{{ item.replace('CLOSED','Closed') }}</li>
					{% else %}
					<li>{{ item }}</li>
					{% endif %}
				{% endfor %}
				{% endif %}
			</ul>
		</div><!-- content -->
		{% include 'footer.html' %}
	</div><!-- page -->
	{% endfor %}
{% endblock content %}
