<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Weekly menus for the University of Waterloo's on-campus eateries.">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="UW Menu">
	<title>UW Menu</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
	<style type="text/css">
		.info {
			text-align: center;
		}
		.link {
			text-decoration: none;
		}
	</style>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
	<link rel="apple-touch-icon-precomposed" type="image/png" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" />
	<!-- iPhone -->
	<link href="{{ url_for('static', filename='img/startup-320x460.png') }}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
	<!-- iPhone (Retina) -->
	<link href="{{ url_for('static', filename='img/startup-640x920.png') }}" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	<!-- iPhone 5 -->
	<link href="{{ url_for('static', filename='img/startup-640x1096.png') }}"  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	<!-- iPad Portrait -->
	<!-- <link href="http://www.example.com/mobile/images/apple-startup-iPad-Portrait.jpg" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image"> -->
	<!-- iPad Landscape -->
	<!-- <link href="http://www.example.com/mobile/images/apple-startup-iPad-Landscape.jpg" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image"> -->
	<!-- iPad Portrait (Retina) -->
	<!-- <link href="http://www.example.com/mobile/images/apple-startup-iPad-RETINA-Portrait.jpg" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"> -->
	<!-- iPad Landscape (Retina) -->
	<!-- <link href="http://www.example.com/mobile/images/apple-startup-iPad-RETINA-Landscape.jpg" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"> -->
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
	<!-- start Google Analytics --><script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20277066-3']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script><!-- end Google Analytics -->
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,
e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("{{mixpanelToken}}");</script><!-- end Mixpanel -->
</head>
<body onload="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">
	<div data-role="page" id="Home">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h3>UW Menu</h3>
		</div><!-- header -->
		<div data-role="content">
			<h4 class="info">Weekly menus for the University of Waterloo's on-campus eateries.</h4>
			<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
				<li data-role="list-divider">{{ menu.Start[:-5].replace('-',' ') }} &ndash; {{ menu.End[:-5].replace('-',' ') }}</li>
			{% for restaurant in menu.Restaurants.values() if 'Menu' in restaurant %}
				<li data-iconshadow="false" onclick="mixpanel.track('Restaurant View', {'Restaurant Name': '{{restaurant.Name}}'})"><a href="#{{ restaurant.Name }}" data-transition="slide">{{ restaurant.Name }}</a></li>
			{% else %}
				<li>No data has been provided for the current period.</li>
			{% endfor %}
			</ul>
		</div><!-- content -->
		<div data-theme="a" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#Home" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">Home</a>
					</li>
					<li>
						<a href="#Locations" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Locations', 'URL': window.location.href})">Locations</a>
					</li>
					<li>
						<a href="#About" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'About', 'URL': window.location.href})">About</a>
					</li>
				</ul>
			</div>
		</div><!-- footer -->
	</div><!-- page -->
	<div data-role="page" id="About">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true"  data-tap-toggle="false">
			<h3>About</h3>
		</div><!-- header -->
		<div data-role="content">
			<h3 class="info">Created by <a href="http://alykhan.com" class="link">Alykhan Kanji</a>.</h3>
			<h3 class="info">This is an open source application. You should view the code on GitHub <a href="https://github.com/alykhank/FoodMenu" class="link">here</a>.</h3>
			<h5 class="info">Contains information provided by the University of Waterloo under license on an 'as is' basis.</h5>
			<a data-role="button" href="mailto:uwmenu@alykhan.com" data-icon="star" data-iconpos="right" data-iconshadow="false" class="ui-icon-alt ui-icon-nodisc">Contact Me</a>
		</div><!-- content -->
		<div data-theme="a" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#Home" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">Home</a>
					</li>
					<li>
						<a href="#Locations" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Locations', 'URL': window.location.href})">Locations</a>
					</li>
					<li>
						<a href="#About" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'About', 'URL': window.location.href})">About</a>
					</li>
				</ul>
			</div>
		</div><!-- footer -->
	</div><!-- page -->
	{% for restaurant in menu.Restaurants.values() if 'Menu' in restaurant %}
	<div data-role="page" id="{{ restaurant.Name }}" data-add-back-btn="true">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h3>{{ restaurant.Name }}</h3>
		</div><!-- header -->
		<div data-role="content">
			<ul data-role="listview" data-inset="true">
				{% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
				{% for day in days if day in restaurant.Menu %}
				<li data-role="list-divider">{{ day }}</li>
					{% set meals = ['Breakfast', 'Lunch', 'Dinner', 'Special'] %}
					{% for meal in meals if meal in restaurant.Menu[day] %}
						<li data-role="list-divider" data-theme="d">{{ meal }}</li>
						{% if restaurant.Menu[day][meal].Items.result is string %}
						<li>{{ restaurant.Menu[day][meal].Items.result }}</li>
						{% else %}
						{% for item in restaurant.Menu[day][meal].Items.result %}
						<li>{{ item }}</li>
						{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul><!-- listview -->
		</div><!-- content -->
		<div data-theme="a" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#Home" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">Home</a>
					</li>
					<li>
						<a href="#Locations" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Locations', 'URL': window.location.href})">Locations</a>
					</li>
					<li>
						<a href="#About" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'About', 'URL': window.location.href})">About</a>
					</li>
				</ul>
			</div>
		</div><!-- footer -->
	</div><!-- page -->
	{% endfor %}
	<div data-role="page" id="Locations">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h3>Locations</h3>
		</div><!-- header -->
		<div data-role="content">
			<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
			{% for restaurant in info.result %}
				<li data-iconshadow="false">
					<a href="#loc{{ restaurant.ID }}" data-transition="slide">
						<img src="{{ restaurant.Logo }}">
						<h2>{{ restaurant.Name|safe|e }}</h2>
						<p>{{ restaurant.Location }}</p>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div><!-- content -->
		<div data-theme="a" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#Home" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">Home</a>
					</li>
					<li>
						<a href="#Locations" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Locations', 'URL': window.location.href})">Locations</a>
					</li>
					<li>
						<a href="#About" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'About', 'URL': window.location.href})">About</a>
					</li>
				</ul>
			</div>
		</div><!-- footer -->
	</div><!-- page -->
	{% for restaurant in info.result %}
	<div data-role="page" id="loc{{ restaurant.ID }}" data-add-back-btn="true">
		<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h3>{{ restaurant.Name|safe|e }}</h3>
		</div><!-- header -->
		<div data-role="content">
			<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
				<li data-role="list-divider">Location</li>
				<li>{{ restaurant.Location }}</li>
				<li data-role="list-divider">Hours</li>
				{% if restaurant.Hours.result is string %}
				<li>{{ restaurant.Hours.result }}</li>
				{% else %}
				{% for item in restaurant.Hours.result %}
				<li>{{ item }}</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div><!-- content -->
		<div data-theme="a" data-role="footer" data-id="navigation" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#Home" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Home', 'URL': window.location.href})">Home</a>
					</li>
					<li>
						<a href="#Locations" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'Locations', 'URL': window.location.href})">Locations</a>
					</li>
					<li>
						<a href="#About" data-transition="fade" onclick="mixpanel.track('Page View', {'Page Name': 'About', 'URL': window.location.href})">About</a>
					</li>
				</ul>
			</div>
		</div><!-- footer -->
	</div><!-- page -->
	{% endfor %}
</body>
</html>
