<div data-role="page" id="Locations">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<h1 class="title title-fixed">Locations</h1>
	</div><!-- header -->
	<div data-role="content">
		<ul data-role="listview" data-inset="false" data-filter="true" data-filter-placeholder="Search locations&hellip;" class="ui-icon-alt ui-icon-nodisc">
		{% for location in locations %}
			<li data-iconshadow="false" onclick="mixpanel.track('Location View', {'ID': '{{location.outlet_id}}', 'Name': '{{location.name}}'})">
				<a href="#loc{{ location.outlet_id }}" data-transition="slidefade">
					<!-- <img src="static/img/logos/{{location.outlet_id}}.png" alt="{{ location.name }}"> -->
					<h2>{{ location.name }}</h2>
					<p>{{ location.building }} &ndash; {{ location.latitude }}, {{ location.longitude }}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div><!-- content -->
	{% import 'footer.html' as footer %}
	{{ footer.setFooter('Locations') }}
</div><!-- page -->
