<div data-role="page" id="Locations">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<h1 class="title title-fixed">Locations</h1>
	</div><!-- header -->
	<div data-role="content">
		<ul data-role="listview" data-inset="false" data-filter="true" data-filter-placeholder="Search locations&hellip;" class="ui-icon-alt ui-icon-nodisc">
		{% for restaurant in locations.result %}
			<li data-iconshadow="false" onclick="mixpanel.track('Location View', {'ID': '{{restaurant.ID}}', 'Name': '{{restaurant.Name|safe|e}}', 'Location': '{{restaurant.Location}}'})">
				<a href="#loc{{ restaurant.ID }}" data-transition="slidefade">
					<img src="static/img/logos/{{restaurant.ID}}.png" alt="{{ restaurant.Name|safe|e }}">
					<h2>{{ restaurant.Name|safe|e }}</h2>
					{% if restaurant.Location %}
					<p>{{ restaurant.Location }}</p>
					{% endif %}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div><!-- content -->
	{% include 'footer.html' %}
</div><!-- page -->
