{% for outlet in outlets %}
<div data-role="page" id="loc{{ outlet.outlet_id }}">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<a data-role="button" data-rel="back" data-icon="arrow-l" data-iconshadow="false" href="#Locations" class="ui-btn-left ui-icon-nodisc">Back</a>
		<h1 class="title">{{ outlet.outlet_name }}</h1>
	</div><!-- header -->
	<div data-role="content">
		<ul data-role="listview" data-inset="false">
			<li data-theme="b">
				<!-- <img src="static/img/logos/{{outlet.outlet_id}}.png" alt="{{ outlet.outlet_name }}"> -->
				<h2>{{ outlet.outlet_name }}</h2>
				{% if outlet.outlet_location %}
				<p>{{ outlet.outlet_location }}</p>
				{% endif %}
			</li>
			<li data-role="list-divider">Available Meals:</li>
			{% if outlet.has_breakfast %}
				<li>Breakfast</li>
			{% endif %}
			{% if outlet.has_lunch %}
				<li>Lunch</li>
			{% endif %}
			{% if outlet.has_dinner %}
				<li>Dinner</li>
			{% endif %}
		</ul>
	</div><!-- content -->
	{% import 'footer.html' as footer %}
	{{ footer.setFooter('Locations') }}
</div><!-- page -->
{% endfor %}
