{% for restaurant in locations.result %}
<div data-role="page" id="loc{{ restaurant.ID }}">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<a data-role="button" data-rel="back" data-icon="arrow-l" data-iconshadow="false" href="#Locations" class="ui-btn-left ui-icon-nodisc">Back</a>
		<h1 class="title">{{ restaurant.Name|safe|e }}</h1>
	</div><!-- header -->
	<div data-role="content">
		<ul data-role="listview" data-inset="false">
			<li data-theme="b">
				<img src="static/img/logos/{{restaurant.ID}}.png" alt="{{ restaurant.Name|safe|e }}">
				{% if restaurant.Location %}
				<h2>{{ restaurant.Name|safe|e }}</h2>
				<p>{{ restaurant.Location }}</p>
				{% else %}
				{{ restaurant.Name|safe|e }}
				{% endif %}
			</li>
			{% if restaurant.Hours.result %}
				<li data-role="list-divider">Hours</li>
				{% if restaurant.Hours.result is string %}
					<li>{{ restaurant.Hours.result }}</li>
				{% else %}
				{% for item in restaurant.Hours.result %}
					<li>{{ item }}</li>
				{% endfor %}
				{% endif %}
			{% endif %}
		</ul>
	</div><!-- content -->
	{% include 'footer.html' %}
</div><!-- page -->
{% endfor %}
