<div data-role="page" id="Menu">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<h1 class="title title-fixed">UW Menu</h1>
	</div><!-- header -->
	<div data-role="content">
		<p id="description" class="info">Weekly menus for the University of Waterloo's on-campus eateries.</p>
		<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
			<li data-role="list-divider">{{ menu.date.start|datetimeformat }} &ndash; {{ menu.date.end|datetimeformat }}</li>
		{% for restaurant in menu.outlets if 'menu' in restaurant %}
			<li data-iconshadow="false" onclick="mixpanel.track('Restaurant View', {'Restaurant Name': '{{restaurant.outlet_name}}'})"><a href="#r{{ restaurant.outlet_id }}" data-transition="slidefade">{{ restaurant.outlet_name }}</a></li>
		{% else %}
			<li>No data has been provided for the current period.</li>
		{% endfor %}
			<li><a href="https://uwaterloo.ca/food-services/sites/ca.food-services/files/uploads/files/July%202013.pdf">July Hours of Operation</a></li>
		</ul>
	</div><!-- content -->
	{% import 'footer.html' as footer %}
	{{ footer.setFooter('Menu') }}
</div><!-- page -->
