<div data-role="page" id="Menu">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<h1 class="title title-fixed">UW Menu</h1>
	</div><!-- header -->
	<div data-role="content">
		<h4 class="info">Weekly menus for the University of Waterloo's on-campus eateries.</h4>
		<ul data-role="listview" data-inset="true" class="ui-icon-alt ui-icon-nodisc">
			<li data-role="list-divider">{{ menu.Start[:-5].replace('-',' ') }} &ndash; {{ menu.End[:-5].replace('-',' ') }}</li>
		{% for restaurant in menu.Restaurants.values() if 'Menu' in restaurant %}
			<li data-iconshadow="false" onclick="mixpanel.track('Restaurant View', {'Restaurant Name': '{{restaurant.Name}}'})"><a href="#{{ restaurant.Name }}" data-transition="slidefade">{{ restaurant.Name }}</a></li>
		{% else %}
			<li>No data has been provided for the current period.</li>
		{% endfor %}
		</ul>
	</div><!-- content -->
	{% include 'footer.html' %}
</div><!-- page -->
