{% for restaurant in menu.outlets if 'menu' in restaurant %}
<div data-role="page" id="r{{ restaurant.outlet_id }}">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<a data-role="button" data-rel="back" data-icon="arrow-l" data-iconshadow="false" href="#Menu" class="ui-btn-left ui-icon-nodisc">Back</a>
		<h1 class="title">{{ restaurant.outlet_name }}</h1>
	</div><!-- header -->
	<div data-role="content">
		<ul data-role="listview" data-inset="false">
			<li data-theme="b">
				<img src="static/img/logos/{{restaurant.outlet_id}}.png" alt="{{ restaurant.outlet_name }}">
				<h2>{{ restaurant.outlet_name }}</h2>
				<p>{{ restaurant.outlet_id|building_info(locations) }}</p>
			</li>
			{% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
			{% for day in restaurant.menu %}
				<li data-role="list-divider">{{ day.day }}</li>
				{% set meals = ['breakfast', 'lunch', 'dinner'] %}
				{% for meal in meals if meal in day.meals.keys() and day.meals[meal] %}
					<li data-role="list-divider" data-theme="d">{{ meal|capitalize }}</li>
					{% for item in day.meals[meal] %}
					<li>{{ item.product_name }}{% if item.diet_type %}<br><br><p>{{ item.diet_type }}</p>{% endif %}</li>
					{% endfor %}
				{% endfor %}
				{% if day.notes %}
					<li data-role="list-divider" data-theme="d">Notes: {{ day.notes }}</li>
				{% endif %}
			{% endfor %}
		</ul><!-- listview -->
	</div><!-- content -->
	{% import 'footer.html' as footer %}
	{{ footer.setFooter('Menu') }}
</div><!-- page -->
{% endfor %}
