{% for restaurant in menu.Restaurants.values() if 'Menu' in restaurant %}
<div data-role="page" id="{{ restaurant.Name }}">
	<div data-theme="b" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
		<a data-role="button" data-rel="back" data-icon="arrow-l" data-iconshadow="false" href="#Menu" class="ui-btn-left ui-icon-nodisc">Back</a>
		<h1 class="title">{{ restaurant.Name }}</h1>
	</div><!-- header -->
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			{% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
			{% for day in days if day in restaurant.Menu %}
			<li data-role="list-divider">{{ day }}</li>
				{% set meals = ['Breakfast', 'Lunch', 'Dinner', 'Special'] %}
				{% for meal in meals if meal in restaurant.Menu[day] %}
					<li data-role="list-divider" data-theme="d">{{ meal }}</li>
					{% if restaurant.Menu[day][meal].Items.result is string %}
					<li>{{ restaurant.Menu[day][meal].Items.result }}</li>
					{% else %}
					{% for item in restaurant.Menu[day][meal].Items.result %}
					<li>{{ item }}</li>
					{% endfor %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul><!-- listview -->
	</div><!-- content -->
	{% include 'footer.html' %}
</div><!-- page -->
{% endfor %}
